<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    
    <filter>
        <filter-name>BasicLoginFilter</filter-name>
        <filter-class>dhbwka.wwi.vertsys.javaee.jtodo.common.web.BasicLoginFilter</filter-class>
        <init-param>
            <param-name>role-names-comma-sep</param-name>
            <param-value>app-user</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>BasicLoginFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <!--  Hiernach folgt das projektspezifische aus eurer web.xml-->
</web-app>
